#calculator{
    font-family: Arial, sans-serif;
    overflow: hidden;
    max-width: 500px;
    background-color: #111318;
}

button{
    width:100px;
    height:100px;
    border-radius: 90px;
    border : none;
    background-color:#191c22;
    color:white;
    font-family: 'Arial';
    font-size: 33px;
    cursor: pointer;
    color: #e4eaff;
}
#display{
    border:none;
    font-size:80px;
    text-align: right;
    padding: 120px 30px 120px 30px;
    color: #e4eaff;
    background-color:#272b36;
    border-radius: 0px 0px 50px 50px;
    
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:25px;

}
button:hover{
    background-color: #3a4348 ;
}
.operator {
    background-color: #414757;
}
.equals {
    background-color: #304574;
}
.delete {
    background-color: #543f59;
}

