#calculator{
    font-family: Arial, sans-serif;
    overflow: hidden;
}
body {
    background-color:#1f1c1c;
}
button{
    width:100px;
    height:100px;
    border-radius: 90px;
    background-color:black;
    color:white;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}
.display{
    margin: 2em;
    border:none;
    height: 50px;
    background-color: grey;
    font-size:45px;
    text-align: left;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding:25px;
}
button:hover{
    background-color: rgb(128, 127, 126);
}
.delete{
    background-color: rgb(177, 9, 65);
}