button{
    width:100px;
    height:100px;
    border-radius: 90px;
    border:none;
}
.display{
    margin: 5em;
    border-style:solid;
}
#buttons{
    display: flex;
    align-items: center;
    flex-direction: column;

}